.unread {
    color: #000000;
  }
  .read {
    color: #808080
  }
  .read:hover {
    color:#5488f0;
  }

  .time-unread {
    color: rgb(10, 170, 10)
  }

  .time-read {
    color: rgb(124, 231, 124)
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: rgb(10, 170, 10);
    border-radius: 50%;
    display: inline-block;
    margin-top: 18px;
    margin-left: 36px;
    position: absolute;
    left: 250px; 
    /* tuyệt đối với phần tử chứa nó */
  }

  .width {
    width: 383px;
  }

  .example-viewport {
    height: 100vh;
    // width: 350px;
  }
  .titile
  {
    font-size: 20px;
  font-weight: bold;
  }
  .list.home-links .noti:hover{
    background-color:#E4E6E9;
    color:#5488f0;
    // font-weight: bold;
  }
  .list.home-links .noti{
    outline: none;
    padding: 11px 16px 11px 0;
    position: relative;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid #eee;
   
  }
 
  