.view-hover {
    display: none;
}

.scale-hover-02 {
    &:hover {
        z-index: 10;
        transform: scale(1.2);
        transition: all .05s;
        border: 0;
        .view-hover {
            display: block;
        }
        &.user {
            border-radius: 0;
            background: rgba(253, 253, 253, 0)
        }
    }
}

.scale-hover-01 {
    &:hover {
        z-index: 10;
        transform: scale(1.05);
        transition: all .05s;
        border: 0;
        .view-hover {
            display: block;
        }
        &.user {
            border-radius: 0;
            background: rgba(253, 253, 253, 0)
        }
    }
}

.icon_PheDuyet {
    border-radius: 50%;
    background-color: #78B740;
    color: #FFFFFF;
    font-size: 9px;
    padding: 5px;
}


.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

.form-group .timeline-3 {
	&::before {
		background-color: transparent;
	}
}


// form
.form {
	.form-filtration,
	.form-group-action {
		margin: 0 0 30px;
	}
	.form-actions.form-actions-sm {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.form-actions {
		padding: 30px;
		&.form-actions-solid {
			padding: 30px;
			background-color: #f7f8fa;
			border-color: #f7f8fa;
		}
	}
}

.margin {
	&-top-20 {
		margin-top: 20px;
	}
	&-bottom-20 {
		margin-bottom: 20px;
	}
}

.padding-0 {
	padding: 0;
}

.form.form-group-seperator .form-group,
.form.form-group-seperator-dashed .form-group {
	padding-top: 25px;
	padding-bottom: 25px;
}

